<!-- Abiel & Matthew SD4 Service Orientated Architecture CA2 -->
<!-- Front End -->
<!-- Rentals Page -->

@page "/rentals"

@using LibraryFrontEnd.Services
@inject LibraryService LibraryService

<h3>Rentals</h3>

@code {

}
